# environment
.env
.venv/
venv/
__pycache__/
.ipynb_checkpoints/

# data
data/raw/*
data/processed/*

# keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/samples/.gitkeep

# local/private files
*.pdf
*.docx
*.log
.DS_Store

# database
*.sqlite
*.db

# outputs included for project review
!outputs/
!outputs/**